Exlporacion de datos

# Importacion de datos desde API
No requiere credenciales

In [16]:
import requests
import zipfile
import io
import pandas as pd

url = "https://archive.ics.uci.edu/static/public/502/online+retail+ii.zip"

response = requests.request("GET", url)

# Decode the zip file
zip_file = zipfile.ZipFile(io.BytesIO(response.content))
zip_file.extractall(path='data')

# Load the .xlsx file into a pandas dataframe
year_2009_2010 = pd.read_excel(
    'data/online_retail_II.xlsx', sheet_name='Year 2009-2010'
    )

year_2009_2010 = pd.read_excel(
    'data/online_retail_II.xlsx', sheet_name='Year 2010-2011'
    )

df = pd.concat([year_2009_2010, year_2009_2010], ignore_index=True)

df.head(1)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom

Observamos los tipos de datos disponibles

In [17]:
df.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [18]:
df.shape

(1083820, 8)

In [19]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      2908
Quantity            0
InvoiceDate         0
Price               0
Customer ID    270160
Country             0
dtype: int64

# Descripción de las variables

In [20]:
# estadísticas de las columnas categoricas
df.describe( include='object')

        Invoice StockCode                         Description         Country
count   1083820   1083820                             1080912         1083820
unique    25900      4070                                4223              38
top      573585    85123A  WHITE HANGING HEART T-LIGHT HOLDER  United Kingdom
freq       2228      4626                                4738          990956

Podemos ver que en el campo Description tenemos valores nulos a analizar. El país con mayores ventas es United Kingdom, tenemos 40 países. El Invoice es el indicador de factura, en realidad en todo el dataset se realizaron 28816 ventas facturadas.

In [21]:
df.describe( include=['float64', 'int64'])

           Quantity         Price    Customer ID
count  1.083820e+06  1.083820e+06  813660.000000
mean   9.552234e+00  4.611138e+00   15287.684160
std    2.180809e+02  9.675972e+01    1713.602021
min   -8.099500e+04 -1.106206e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13953.000000
50%    3.000000e+00  2.080000e+00   15152.000000
75%    1.000000e+01  4.130000e+00   16791.000000
max    8.099500e+04  3.897000e+04   18287.000000

En la variable Quantity hay valores fuera de serie grandes, los datos se concentran en valores cercanos a 10, por lo que existe un sesgo a la derecha, es decir los valores tienen una asímetría positiva. Por ende, los datos deben ser escalados o aplicados con un logaritmo en caso de aplicar modelos estadísticos con supuestos en distribuciones normales. El precio presenta el mismo problema de asimetría positiva. Para el Customer se debe cambiar de número a objeto ya que nos interesa la cantidad que veces que compró un mismo cliente, no operaciones entre el ID.

In [22]:
df.describe( include= 'datetime64[ns]')

                         InvoiceDate
count                        1083820
mean   2011-07-04 13:35:22.342308096
min              2010-12-01 08:26:00
25%              2011-03-28 11:34:00
50%              2011-07-19 17:17:00
75%              2011-10-19 11:27:00
max              2011-12-09 12:50:00

En cuanto al tiempo, el rango o periodo es desde 2009 diciembre hasta 2011 diciembre, abarcando un dos años de ventas online.